.seller{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seller-title{
    margin-top: 50px;
}
.seller-headding{
    font-size: 30px;
    text-transform: uppercase;
}
.menu-link{
    margin-top: 20px;
}
.button{
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.button:hover{
    color: blue;

}
.products{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bs-product{
    margin: 20px 0;
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
}
.product-img{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.wish-list{
    width: 100%;
    height: 60%;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.678);
}

.bs-product:hover {
    transition: .2s ease;
    box-shadow: 0px 0px 10px rgb(204, 204, 204);
}
.bs-product:hover .wish-list{
    transition: .5s ease;
    display: flex !important;
}

.favorit{
    margin: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #2e90e5b0;
    box-sizing: border-box;
    border: 2px solid #2e90e5b0;
}
.shopping{
    margin: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #2e90e5b0;
    border: 2px solid #2e90e5b0;
}
.favorit:hover, .shopping:hover{
    color: white;
    background-color: #33a0ff9f;
}

.hot{
    margin: 10px 0 0 10px;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
}
.product-img img{
    margin: auto;
    width: 95%;
    height: 100%;
    object-fit: contain;
     
}
.bs-product-detail{
    height: 45%;
    margin: auto;
    text-align: center;
}
.bpd-title{
    margin-top: 30px;
}
.rating-box{
    margin: 14px;
}
.price-box{
    display: flex;
    justify-content: center;
}
.active-price{
    color: orangered;
    margin: 0 10px;
}
.expried-price{
    margin: 0 10px;
}

.loadmore{
    margin: 50px;
    padding: 10px 20px ;
    border-bottom: 2px solid #33A0FF;
    border-radius: 2px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288); */
}
.loadmore:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

.loadmore-btn{
    color: #33A0FF;
    text-decoration: none;

}